.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
.result {
  display: flex;
  justify-content: center;
}
.resultWrapper {
  box-shadow: 3px 10px 15px rgb(52, 52, 52);
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}
.imgKot {
  width: 150px;
  border-radius: 15px;
  padding: 15px;
}
.button {
  font-size: 20px;
  padding: 15px 10px;
  background-color: rgb(255, 160, 44);
  border: none;
  margin: 10px;
  border-radius: 25px;
  color: white;
  transition: 0.3s ease;
}
.button:hover {
  background-color: rgb(226, 53, 53);
}
ul li {
  list-style: none;
}
li {
  border: 1px solid rgba(121, 120, 120, 0.397);
  margin: 10px 20px;
  padding: 5px 0;
}
h2 {
  padding: 10px 0;
}
li:hover {
  color: #1b7725;
  box-shadow: 2px 2px 8px #7acc82;
}
ul {
  padding: 15px 0;
}
.progress {
  height: 5px;
  background-color: rgba(179, 179, 179, 0.444);
  margin: 30px 4px;
  border-radius: 15px;
}
.progressGreen {
  height: 100%;
  background: linear-gradient(90deg, #55af92, #7acc82, #bce464);
  border-radius: 15px;
}
